*{
  align-items: center;
  text-align: center;
}
h1,h4{
  margin: 30px;
  color: brown;
}
button{
  width: 250px;
  height: 45px;
  border-radius: 9px;
  background-color: rgb(9, 9, 213);
  color: rgb(255, 255, 255);
  border: 1px solid blue;

}

